input {border: 0px;
    border-bottom: solid 1px }
    input:focus { border: solid 1px limegreen;
      outline: none
    }
    
    input:hover { border: solid 1px red} 

    .parente {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 8px;
    }

 body { display: flex;
align-items: center;
justify-content: center;}
form{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(8,35px);
  align-items: center;
  justify-items: center;
}
    .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 70%);
  }
  .content{
      background-color: aliceblue;
      margin: 15% auto;
      padding: 20px;
      border-radius: 5px;
      width: 70%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }